
*
{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    --darkblue:#0c122f;
}


.project
{
    width:100%;
    height:85rem;
    background:var(--darkblue);
    border-top:3px solid var(--skyblue);
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.project h1
{
    color:var(--heading);
    font-size:2.5rem;
    letter-spacing:4px;
    word-spacing:1.5rem;
    margin-top:1rem;

}
.allprojects
{
    display:grid;
    place-items:center;
    grid-template-columns: 1fr 1fr 1fr;
    width:100%;
    height:100%;
    color:white;

}
.pr{
        width:20rem;
        height:15rem;
        border:10px solid white;
        transition:.5s;
        margin:1rem;
        margin-bottom:1px;
       
}
.pr h2 {
    color:aqua;
    border-bottom:0;
    text-decoration: none;
    list-style:none;
}

.pr:hover{
    transform: skewX(10deg); 
    
    filter:drop-shadow(9px 9px 1px rgb(104, 103, 103));
}
.pr h2
{
    margin:1rem;
    word-spacing:.5rem;
    letter-spacing:.2rem;
    font-weight:500;
}
.pr img{
    width:100%;
    height:100%;
    
}

@media  screen and (max-width: 1150px)  and (min-width:750px){
    .project 
    {
        height:85rem;
    }
    .project h1
{ font-size:2rem; 
    margin:0;}
.allprojects
{
    grid-template-columns: 1fr  1fr;
}
.pr{
    width:21rem;
    height:10rem;
    border:5px solid white;
    transition:.5s;
    /* margin:1rem; */
    margin-bottom:1px;
    margin:0;
}
.pr h2 
{
    margin:0;
    margin-top:5px;
}
}
@media only screen and (max-width:750px) {
    .project 
    {
        height:75rem;
    }
    .project h1
{ font-size:2rem; 
    margin:0;}
.allprojects
{
    grid-template-columns: 1fr ;
}
.pr{
    width:15rem;
    height:7.5rem;
    border:1px solid white;
    margin-bottom:1px;
    margin:0;
}
.pr h2 
{
    margin:0;
    margin-top:5px;
    font-size:1rem;
}
}

