@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Orbitron:wght@500&family=Tourney:wght@100&display=swap');
/* font-family: 'Monoton', cursive; */
/* font-family: 'Orbitron', sans-serif; */
/* font-family: 'Tourney', cursive; */

*
{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    --darkblue:#0c122f;
}

.skills
{
    width:100%;
    height: 100vh;
    background:var(--darkblue);
    text-align:center;
    border-top:2px solid purple;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;

}
.skills span 
{
    color:grey;
    font-size:2rem;

}
#barchart_values
{
    width: 200px;
    height:400px;
    /* background:var(--darkblue); */
}
.skillbox
{
    width:200px;
    height:400px;
    background:aqua;
    color:black;
}
.charts
{

 width:80%;
 height:50rem;
 color:white;
 font-family: 'Orbitron', sans-serif;
 font-weight:100;
 overflow:hidden;
 display:grid;
 grid-template-columns: 1fr 1fr 1fr;
 margin:2rem;
}
.charts .box 
{
    width:20rem;
    height:5rem;
    font-size:.8rem;
    padding:1rem;

}
.charts .box  img{
    width:5rem;
    height:5rem;
    /* background:var(--darkblue); */
}
.charts .box h1 
{
    color:white;

}
.skillcharts
{
    width:100%;
    height:40rem;
    background:var(--darkblue);
    border-top:5px solid rgb(29, 29, 25);
    display:grid;
    grid-template-columns:1fr 1fr;
    position:relative;
}
.skillcharts h1 
{
    position:absolute;
    top:0;
    left:50%;
    right:50%;
    margin:1rem;
    color:white;
    width:10rem;
}
.skillsbar
{
  width:40%;
  height:50%;
  display:flex;
  flex-direction:column;
  margin-top:5rem;
}
.skillsbar h1 

.bar{
    display:flex;
    width:32rem;
    height:3rem;
    overflow:hidden;
    /* justify-content:center; */
    align-items:center;
    flex-direction:row;
    margin:1.2rem;
}
.bar{
    /* color:white; */
}
.bar .bgbar 
{   margin:0;
    padding:0;
    width:30rem;
    height:2rem;
    background:var(--darkblue);
    box-shadow: inset 1px 1px 10px rgb(6, 240, 240);
    border-radius:30px;
    
}
.bar .bgbar .innerbar{
    width:55%;
    height:95%;
    background:turquoise;

}