

.skills
{
    width:100%;
    height:60rem;
    background:var(--darkblue);
    text-align:center;
    border-top:3px solid black;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin:0;
    padding:0;

}
.skills h1
{
    color:grey;
    font-size:2.4rem;
    margin:1rem;

}


.icon-box
{

 width:80%;
 height:60rem;
 color:white;
 font-family: 'Orbitron', sans-serif;
 font-weight:100;
 overflow:hidden;
 display:grid;
 grid-template-columns: 1fr 1fr 1fr;
 margin:2rem;
}
.icon-box .box 
{
    width:20rem;
    height:6rem;
    font-size:.8rem;
    padding:1rem;
    display:grid;
    place-items:center;
    color:rgb(196, 11, 171)
}
.icon-box .box  img{
    width:5rem;
    height:5rem;
    margin:1rem;
    background:var(--darkblue);
}
.icon-box .box h1
{
    color:white;
    width:20rem;
    margin:.5rem;
    margin-top:0;
    font-size:1.5rem;
    font-weight:500;
    letter-spacing:3px;
    word-spacing:.4rem;
}
.icon-box .box p 
{   
    
    font-size:1rem;
    word-spacing:.2rem;
    /* color:var(--darkpink); */
    color:rgb(196, 11, 171);
}
@media only screen and (max-width:1400px) and (min-width:650px){
    .skills {
        height:72rem;
     
    }
    .skills h1 {
        font-size:2rem;
     margin:0;
     padding:0;
    }
    .icon-box {
        grid-template-columns: 1fr 1fr;
        margin:1rem;
        width:95%;
        height:90%;
    }
    .icon-box .box {
        margin:0;
        width:16rem;
        height:14rem;
        font-size:.8rem;
        display:grid;
        place-items:center;
    }
    .icon-box .box h1 {
        font-size:1rem;
        margin:0;
        margin-top:0;
        margin-bottom:0;

    }
    .icon-box .box img {
        width:3rem;
        height:3rem;
        margin-top:0;
        margin-bottom:0;
    }
    .icon-box .box p {
        font-size:1rem;
        word-spacing:1px;
        margin-top:0;
        margin-bottom:0;
    }
}
@media only screen and (max-width:650px){
    .skills {
        height:92rem;
     
    }
    .icon-box {
        grid-template-columns: 1fr ;
        margin:1rem;
        width:90%;
        height:90%;
        display:grid;
        place-items:center;
    }
    .icon-box .box {
        margin:0;
        width:5rem;
        height:12rem;
        font-size:.8rem;
        display:grid;
        place-items:center;
    }
    .icon-box .box h1 {
        font-size:1rem;
        margin:0;
        margin-top:0;
        margin-bottom:0;

    }
    .icon-box .box img {
        width:2.5rem;
        height:2.5rem;
        margin-top:0;
        margin-bottom:0;
    }
    .icon-box .box p {
        font-size:.8rem;
        word-spacing:1px;
        margin-top:0;
        margin-bottom:0;
    }

}